<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
  <fieldset class="configurations">
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
      <%= f.label :role %>
      <div class="input">
        <%= f.text_field :role %>
      </div>
      <%= f.label :labor_card %>
      <div class="input">
        <%= f.text_field :labor_card %>
      </div>
      <%= f.label :admission_date %>
      <div class="input">
        <%= f.date_select :admission_date %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.submit 'Update', :class => "btn primary" %>
    </div>
  </fieldset>
<% end %>
