<%= form_for(@punch) do |f| %>
  <% if @punch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
      <% @punch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
