<%= form_for(@punch) do |f| %>
  <% if @punch.errors.any? %>
    <div id="error_explanation" class="alert">
      <h2><%= pluralize(@punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
      <% @punch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="punch" class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, Punch.kinds %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-block btn-primary" %>
  </div>
<% end %>
