<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= TimeFormatter.format_date_time @punch.time %>
</p>

<%= link_to 'New', new_punch_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_punch_path(@punch), class: "btn" %> |
<%= link_to 'Destroy', @punch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
<%= link_to 'Back', punches_path, class: "btn" %>
