<h2>My workdays</h2>

<form action="/workdays">
  <input type="month" name="date" value="<%= @date %>">
  <input type="submit" value="Filter" class="btn">
</form>

<div class="workdays-options-container">
  <%= link_to 'New Punch', new_punch_path, class: "btn btn-primary" %>
  <%= link_to 'Print', url_for(format: 'xls', date: @date), class: "btn btn-primary" %>
</div>

<b>Worked hours: </b><span class="worked-hours"><%= @presenter.worked_hours %></span>
<i class="worked-hours-clock ion-clock"></i>

<ul class="worked-hours-list">
  <% @presenter.workdays.each do |workday_presenter| %>
    <li>

      <ul class="punch-list">
        <li>
          <%= link_to workday_presenter.day.to_s(:day), workday_presenter.workday, title: 'Edit', class: "btn" %>
        </li>
        <li>
          <span class="worked-hours"><%= workday_presenter.worked_hours %></span>
        </li>
        <% workday_presenter.in_outs_presenters.each do |in_out| %>
          <li>
            <% if in_out.punch_in %>
              <%= link_to in_out.in, edit_punch_path(in_out.punch_in), class: "btn btn-info" %>
              <i class="punch-in ion-forward"></i>
            <% end %>
          </li>
          <li>
            <% if in_out.punch_out %>
              <%= link_to in_out.out, edit_punch_path(in_out.punch_out), class: "btn btn-info" %>
              <i class="punch-out ion-reply"></i>
            <% end %>
          </li>
        <% end %>
      </ul>

    </li>
  <% end %>
</ul>
