<%= link_to 'New Punch', new_punch_path, class: "btn btn-primary" %>
<%= link_to 'Export XLS', url_for(format: 'xls', date: @date), class: "btn btn-primary" %>
<h2>Listing workdays</h2>

<form action="/workdays">
  <input type="month" name="date" value="<%= @date %>">
  <input type="submit" value="Filter" class="btn">
</form>

<b>Worked hours: </b><span class="worked-hours"><%= @presenter.worked_hours %></span>
<table class="table table-striped">
  <tr>
    <th>Day</th>
    <th>Hours</th>
    <th>IN</th>
    <th>OUT</th>
    <th>IN</th>
    <th>OUT</th>
    <th></th>
  </tr>

<% @presenter.workdays.each do |workday_presenter| %>
  <tr>
    <td><%= workday_presenter.day.to_s(:day) %></td>
    <td><span class="worked-hours"><%= workday_presenter.worked_hours %></span></td>
    <% workday_presenter.in_outs_presenters.each do |in_out| %>
      <td>
        <% if in_out.punch_in %>
          <%= link_to in_out.in, edit_punch_path(in_out.punch_in), class: "btn btn-info" %>
        <% end %>
      </td>
      <td>
        <% if in_out.punch_out %>
          <%= link_to in_out.out, edit_punch_path(in_out.punch_out), class: "btn btn-info" %>
        <% end %>
      </td>
    <% end %>
    <td><%= link_to 'Edit', workday_presenter.workday, class: "btn" %></td>
  </tr>
<% end %>
</table>
