<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @presenter.workday.day.to_s(:day) %>
</p>
<%= render :partial => "punches/list", :locals => { :in_outs => @presenter.in_outs_presenters } %>

<%= form_for(@presenter.workday, url: lunch_times_path, method: :post) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit "Add automatic lunch time", data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', workdays_path %>
