<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToughtWorks In-Out Web</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <% if user_signed_in? %>
      <div class="navbar navbar-inverse">
        <div class="demo-headline">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <a href=<%="#{root_path}"%>>Home</a>
                  </li>
                  <li>
                    <a href=<%="#{workdays_path}"%>>My workdays<span class="navbar-unread">1</span></a>
                  </li>
                  <li>
                    <%= link_to 'Account settings', edit_user_registration_path %>
                  </li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</body>
</html>
